   @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700display=swap");

* {
    font-family: "Roboto",sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
   }

   html {
           font-size: 62.5%;
           overflow-x:hidden;
           scroll-padding-top: 9rem;
           scroll-behavior: smooth;
         }

  html::-webkit-scrollbar 
  {
     width:0.8rem;
  }

  html::-webkit-scrollbar-track
  {
    background: transparent;
  }


  html::-webkit-scrollbar-thumb
  {
    background: #fff;
    border-radius: 5rem;
  }

body {
        background: #010103;
        overflow-x:hidden;
       }

section {
           padding: 2rem 7%;
        }

.heading {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            padding-bottom:3.5rem;

}



.header {
           background: #010103;
           display: flex;
           align-items:center;
           justify-content: space-between;
           padding: 8px 7px ;
           border-bottom: 0.2rem solid #ffc107;
           position: fixed;
           top: 0;
           left: 0;
           right: 0;
           z-index: 1000;
        } 
  
.header a img {
                max-width: 75px;
              }

.header .navbar a {
                     margin: 0 1rem;
                     font-size: 1.6rem;
                     color: #fff;
                    }

.header .navbar a:hover {
                          color: #ffc107;
                          border-bottom: 0.1rem solid #ffc107;
                          padding-bottom: 0.5rem;
                         }
                        
.header .icons div {
                     color: #fff;
                     cursor: pointer;
                     font-size: 2.1rem;
                     margin-left: 2rem;
                   }

.header .icons div:hover {
                           color: #ffc107;
                         }

#menu-btn {
            color: red;
          }

.header .search-form{
                        position: absolute;
                        top: 115%;
                        right: 7%;
                        background: #fff;
                        width: 50rem;
                        height: 5rem;
                        display: flex;
                        align-items: center;
                        transform: scaleY(0);
                        transform-origin: top;
                      }

.header .search-form.active {
                                transform: scaleY(1);
                            }

.header .search-form input {
                              height: 100%;
                              width: 100%;
                              font-size: 1.6rem;
                              color: #010103;
                              padding: 1rem;
                              text-transform: none;
                            }

.header .search-form label  {
                               cursor:pointer;
                               font-size: 2.2rem;
                               margin-right: 1.5rem;
                               color: #010103;
                             }

.header .search-form label:hover {
                                   color:#ffc107;
                                  }

 .header .cart-items-container {
                                  position: absolute;
                                  top: 100%;
                                  right: -100%;
                                  height: calc(100vh - 9.5rem);
                                  width:35rem;
                                  background: #fff;
                                  padding: 0 1.5rem;
 }

.home {
         height:50rem;
         display: flex;
         align-items: center;
         background: linear-gradient(90deg,rgb(0 0 0 / 90%),rgb(68 68 68 /35%)),
         url(./assets/images/home7.png) no-repeat;
         background-size: cover;
         background-position: center;
      }

.home .content {
                  max-width: 60rem;
                }

.home span {
             color: #ffc107;
             text-transform: uppercase;
            }
  
.home .content h3 {
                      font-size: 6rem;
                      text-transform: uppercase;
                      color: #fff;
                   }

.home .content p {
                     font-size: 2rem;
                     font-weight: lighter;
                     line-height: 1.8;
                     padding: 1rem 0;
                     color: #eee;
                }

.home .btn {
              background: #ffc107;
              width:200rem;
              border: 1px solid #010103;
           }
/* ===================home end===================== */
.about .heading span {
                        color: #ffc107;
                        font-size: 2.8rem;
                        padding-right:1.5rem;
                     }

.about .heading {font-size:2.8rem;}
.about .row {
              display: flex;
              align-items: center;
              background: #0d0d13;
              flex-wrap: wrap;
            }

.about .row .image {
                      flex: 1 1 45rem;
                    }

.about .row .image img {
                          width: 100%;
                        }

.about .row .content {
                        flex: 1 1 45rem;
                        padding: 2rem;
                     }
                     
.about .row .content h3 {
                            font-size: 3rem;
                            color: #fff;
                         }

.about .row .content p {
                           font-size: 1.6rem;
                           color: #ccc;
                           padding: 1rem  0;
                           line-height: 1.8;
                        }

/* =========About end================================= */
.menu { 
          display: flex;
      }
 .heading span    {
                      color: #ffc107;
                      font-size: 2.8rem;
                      padding-left:1.5rem;
                    
                    }

 .heading   {
                   font-size:2.8rem;
                 }

.box-container {
                  display: grid;
                  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
                  gap: 1.5rem;
                
                }

.menu .box-container .box {
                             width:25rem;
                             height: 30rem;
                             text-align: center;
                             padding:4rem;
                             border: 0.2rem solid #ffc107;

                          }

 .menu .box-container .box img {
                                 height:12rem;
                                 border-radius:50%;
                                  
                               }

.menu .box-container .box h3 {
                                 color: #fff;
                                 font-size:1.5rem;
                                 padding: 1rem;
                             }

.menu .box-container .box .price {
                                    color: #fff;
                                    font-size: 2.5rem;
                                    padding: 0.5rem 0;
                                 }
                                 
.menu .box-container .box .price span  {
                                          font-size: 1.5rem;
                                          text-decoration: line-through;
                                          font-weight: lighter;
                                        }

.menu .box-container .box:hover {
                                  background:#967208;
                                  transition: 0.5rem;
                                }
/* ====================menu end============================ */
.products { 
             display: flex;
          }

.products .box-container .box {
                                 width:26rem;
                                 height:40rem;
                                 text-align: center;
                                 padding:4rem;
                                 border: 0.2rem solid #ffc107;
                              }

.products .box-container .box .icons a {
                                           height: 5rem;
                                           width: 5rem;
                                           line-height: 5rem;
                                           font-size: 2rem;
                                           border: 0.2rem solid #ffc107;
                                           color: #fff;
                                           margin: 0.3rem;
                                        }

.products .box-container .box .icons a:hover {
                                                 background: #ffc107;
                                              }

.products .box-container .box .image  {
                                            padding:2.5rem 0;
                                      }

.products .box-container .box .image img {
                                            height: 12rem;
                                          }

.products .box-container .box .content h3 {
                                            color: #fff;
                                            font-size: 2.5rem;
                                          }

.products .box-container .box .content .star {
                                                 padding: 1.5rem;
                                              }

.products .box-container .box .content .star i {
                                                  font-size: 1.7rem;
                                                  color: #ffc107;
                                                }

.products .box-container .box .content .price  {
                                                  color: #fff;
                                                  font-size: 2.5rem;
                                                }

.products .box-container .box .content .price span {
                                                      text-decoration: line-through;
                                                      font-weight: lighter;
                                                      font-size: 1.5rem;
                                                    }

/* ===========================products end ================================================= */

.reviews { 
             display: flex;
          }

.reviews .box-container .box {
                                width:26.5rem;
                                height:40rem;
                                text-align: center;
                                padding:3rem 2rem;
                                border: 0.2rem solid #ffc107;
                             }

.reviews .box-container .box .qoute {
                                       width:8rem;
                                    }

.reviews .box-container .box p  {
                                    font-size: 1.5rem;
                                    line-height: 1.6rem;
                                    color: #ccc;
                                   
                                }

.reviews .box-container .box .user {
                                      height: 7rem;
                                      width: 7rem;
                                      margin-top: 2rem;
                                      border-radius: 50%;
                                      object-fit: cover;
                                  }

.reviews .box-container .box h3 {
                                   padding: 1rem 0;
                                   font-size: 2rem;
                                   color: #fff; 
                                }

.reviews .box-container .box .star i {
                                        font-size: 1.5rem;
                                        color: #ffc107;
                                     }

/* ======================Reviews end ======================================== */


.contact-heading span    {
                           color: #ffc107;
                           font-size: 2.8rem;
                           padding-right:1.5rem;  
                         }

.contact-heading   {
                     font-size:2.8rem;
                     text-align: center;
                     color:#fff; 
                   }


